$border-radius: 20px;
$primary: #ffcc66;
$secondary: #cc88ff;
$info: #7788ff;
$success: #33cc99;
$warning: #ffcc66;
$error: #dd4444;
$body-text: #ffffff;
$body-bg: #000000;
$headings-text: #ffaa90;
$subtle-text: #cc88ff;
$disabled-text: #8f8f8f;
$component-text: #f5f6fa;
$component-bg: #666688;
$base-text: #ffcc66;
$base-bg: #000000;
$hovered-text: #ffcc66;
$hovered-bg: #000000;
$selected-text: #ffffff;
$selected-bg: #cc88ff;
$button-text: #000000;
$button-bg: #aaaaff;
$button-padding-x: 20px;
$button-padding-y: 40px;
$link-text: #ff9966;
$link-hover-text: #ffaa00;
$series-a: #dd4444;
$series-b: #ffaa90;
$series-c: #cc88ff;
$series-d: #7788ff;
$series-e: #ffcc66;
$series-f: #aaaaff;

@import "~@progress/kendo-theme-default/dist/all.scss";
