.engineering-wrapper {
  width: 100%;
  height: 100%;
  max-height: calc(100vh - 100px);
  overflow: scroll;
}

.card {
  background-color: black;
}

.grid-wrapper {
  width: 100%;
  height: 100%;
}

.k-chart-surface svg > g > path:first-child {
  fill: black;
}
