.schedule-wrapper {
  width: 100%;
  height: 100%;
  max-height: calc(100vh - 100px);
  overflow: scroll;

  .k-master-row td.k-grid-content-sticky.k-state-selected {
    background-color: #cc88ff;
  }

  p {
    margin-bottom: 10px;
  }

  .k-state-invalid {
    border-width: 3px;
  }

  fieldset {
    border: 0px solid black;
  }
}
