.page-wrapper {
  background-color: black;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.display-wrapper {
  padding-left: 30px;
  display: grid;
  grid-template-columns: [col1-start] minmax(175px, 20%)  [col2-start] auto  [col3-start] auto ;
  grid-template-rows: [row1-start] 20px [row2-start] auto [row3-start] auto [row4-start] auto [row4-end] ;
  background-color: black;
  height: 90vh;
  width: 100%;
}

.top-container {
  grid-column: col1-start / span 3;
  grid-row: row1-start;
  background-color: var(--lcars-gold);
  border-radius: 20px 0 0 0;
}

.left-container {
  grid-column: col1-start ;
  grid-row: row2-start / row2-end;
  background-color: var(--lcars-gold);
  border-radius: 0 0 0 20px;
}

.bottom-container {
  grid-column: col1-start / span 3 ;
  grid-row: row4-end;
  background-color: var(--lcars-gold);
  align-self: end;
  border-radius: 0 0 0 20px;
  z-index: 1;
  height: 20px;
}

.center-panel {
  grid-column: col2-start / span 2;
  grid-row: row2-start / span 4;
  background-color: black;
  z-index: 0;
}

.center-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: white;
}

.center-content h1 {
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  margin: 0;
  color: #ffaa90;
}

.center-content h2 {
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  color: #aaaaff;
}

.left-menu {
  height: 100%;
  text-align: right;
}

.logo {
  max-width: 300px;
}
