@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100;200;300;400;500;600;700&display=swap');

:root {
  --lcars-gold: #FFCC66;
  --lcars-almond: #ffaa90;
  --lcars-lavender: #cc88ff;
  --lcars-sunflower: #ffcc66;
  --lcars-red: #dd4444;
}

body {
  font-family: 'Antonio', serif;
  margin: 0;
}
